* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 20px;
}

header {
  background-color: lightgrey;
}

